body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.container-inicial {
    background-image: url(Images/image-wallpaper4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-principal-image {
    width: 100%;
    height: 100%;
}

.header-principal {
    background-color: darkblue;
    width: 100%;
    height: 110px;
    justify-content: space-between;
    display: flex;
    padding: 25px;
    align-items: center;
}

.avances-div {
    color: white;
    background-image: url(Images/background-image5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cronograma-espacio-completo {
    color: white;
    background-image: url(Images/image-background6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 75px;
    height: 75px;
}

.title-principal {
    color: white;
    font-size: 130%;
}

.grupo {
    color: white;
    padding-right: 35px;
    font-size: 110%;
}

.inicio-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dato {
    color: white;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.answer-dato-sociales {
    color: blue;
}

.answer-dato-profe {
    color: darkred;
}

.answer-dato-grado {
    color: green;
}

.lista-integrantes {
    text-align: center;
}

.lista-integrantes li {
    color: midnightblue;
}

.lista-integrantes label {
    color: black;
}

hr {
    color: black;
}

.title-information {
    text-align: center;
}

.galeria {
    margin-left: 42%;
}

.contenedor-galeria {
    width: 320px;
    height: 510px;
    text-align: center;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    display: grid;
}

.title-info {
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.info-texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.date-info {
    font-size: 10px;
}

.cronograma-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}

.cronograma {
    justify-content: center;
    display: flex;
}

.espacio-cronograma {
    margin: 10px;
    background-color: midnightblue;
    width: 310px;
    height: 500px;
    text-align: center;
    color: white;
    display: grid;
    border-radius: 20px;
}

.heaeder-cronograma {
    background-color: cornflowerblue;
    height: 35%;
    border-radius: 20px;
    justify-content: center;
}

.title-crono {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.body-cronograma {
    height: 80%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.date-cronograma {
    font-size: 12px;
}

.creditos {
    text-align: center;
    display: grid;
}

.me-name {
    color: green;
}

.warning {
    color: red;
}

.image-avance {
    width: 60%;
    height: 240px;
}

/* Media Queries for Tablets */
@media (max-width: 910px) {
    .header-principal {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .title-principal,
    .grupo {
        font-size: 100%;
    }

    .inicio-texto {
        font-size: 20px;
        padding: 10px;
    }

    .galeria {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-galeria {
        width: 50%;
        height: 450px;
        margin-bottom: 20px;
    }

    .espacio-cronograma {
        width: 40%;
        height: 480px;
        margin-bottom: 20px;
    }

    .cronograma {
        display: grid;
    }
}

/* Media Queries for Mobile Devices */
@media (max-width: 480px) {

    /* Ajustes para los avances del grupo */
    .contenedor-galeria {
        width: 50%;
        height: 350px;
        margin-bottom: 20px;
        padding: 20px;
        /* Añadir padding para más espacio interno */
    }

    .contenedor-info {
        padding: 10px 0;
        /* Añadir espacio superior e inferior */
    }

    .info-texto p {
        font-size: 14px;
        /* Aumentar el tamaño de fuente */
    }

    .date-info {
        margin-top: 10px;
        /* Añadir margen superior para más espacio */
    }

    /* Ajustes para el cronograma */
    .espacio-cronograma {
        width: 50%;
        height: 430px;
        margin-bottom: 20px;
        padding: 20px;
        /* Añadir padding para más espacio interno */
    }

    .heaeder-cronograma {
        height: 75px;
        /* Añadir padding para más espacio interno */
        width: 100%;
        border-radius: 10px;
    }

    .title-crono {
        font-size: 15px;
        /* Ajustar tamaño de fuente para que encaje mejor */
        line-height: 1.2;
        /* Ajustar la altura de línea */
    }

    .body-cronograma {
        padding: 10px;
        /* Añadir padding para más espacio interno */
    }
}